header{
    height:10vh;
}

main{
    height:80vh;
}
h1{
    font-size: 2.5rem;
}
.title1{
    position: absolute;
    left:80px;
    padding:0;
}
.title2{
    position: absolute;
    left:200px;
    padding:0;
}
@keyframes animTitle1Start {
    0%{
        transform: translate(0px,0px);
    }
    33%{
    transform: translate(0px,600px);
    }
    66%{
        transform: translate(1700px,600px);
    }
    100%{
        transform: translate(1700px,400px);
    }
}

@keyframes animTitle1End {
    0%{
        transform: translate(600px,400px);
    }
    100%{
        transform: translate(0px,0px);
    }
}
@keyframes animTitle2Start {
    0%{
        transform: translate(0px,0px);
    }
    33%{
    transform: translate(0px,600px);
    }
    66%{
        transform: translate(1600px,600px);
    }
    100%{
        transform: translate(1600px,400px);
    }
}

@keyframes animTitle2End {
    0%{
        transform: translate(500px,400px);
    }
    100%{
        transform: translate(0px,0px);
    }
}


#pStart{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    font-size: 3rem;
}

@keyframes animScoreStart {
    0%{
        transform: translate(0px,0px);
    }
    100%{
        transform: translate(0px,280px);
    }
}
@keyframes animScoreEnd {
    0%{
        transform: translate(-1100px,280px);
    }
    50%{
        transform: translate(-1100px,0px);
    }
    100%{
        transform: translate(0px,0px);
    }
}
#score{
    position: absolute;
    left:1800px;
    transform: translateX(-50%);
    font-size: 1.5rem;
    display: flex;
    gap:0.5rem;
}

@keyframes animEndScore{
    0%{
        transform: translate(0px,0px) scale(1);
    }
    100%{
        transform: translate(-600px,150px) scale(2);
    }
    
    
}

.decors{
    height:2px;
    background-color: black;
    position: absolute;
}
.game{
    width:1000px;
    height:800px;
    margin: auto 800px;
    position: relative;
}

.dino{
    background-color: black;
    width:100px;
    height: 100px;
    transform: translate(100px,250px);
}
.dinoIdle{
    clip-path: polygon(5% 62%, 4% 34%, 9% 34%, 9% 43%, 14% 43%, 14% 48%, 19% 48%, 18% 52%, 26% 52%, 26% 48%, 31% 48%, 31% 44%, 38% 44%, 38% 39%, 45% 40%, 45% 34%, 49% 35%, 49% 5%, 54% 6%, 54% 1%, 91% 1%, 91% 5%, 95% 5%, 96% 26%, 73% 26%, 73% 29%, 86% 30%, 86% 35%, 68% 35%, 68% 44%, 77% 44%, 77% 54%, 72% 54%, 72% 50%, 69% 50%, 69% 64%, 64% 65%, 64% 71%, 60% 72%, 60% 75%, 55% 76%, 55% 93%, 60% 93%, 59% 98%, 50% 98%, 50% 86%, 45% 86%, 44% 81%, 41% 81%, 41% 85%, 37% 85%, 37% 88%, 33% 90%, 34% 93%, 37% 94%, 36% 97%, 27% 96%, 28% 81%, 23% 80%, 23% 76%, 19% 76%, 18% 72%, 14% 72%, 14% 67%, 8% 67%, 9% 62%);

}
.dinoRight{
    clip-path: polygon(5% 62%, 4% 34%, 9% 34%, 9% 43%, 14% 43%, 14% 48%, 19% 48%, 18% 52%, 26% 52%, 26% 48%, 31% 48%, 31% 44%, 38% 44%, 38% 39%, 45% 40%, 45% 34%, 49% 35%, 49% 5%, 54% 6%, 54% 1%, 91% 1%, 91% 5%, 95% 5%, 96% 26%, 73% 26%, 73% 29%, 86% 30%, 86% 35%, 68% 35%, 68% 44%, 77% 44%, 77% 54%, 72% 54%, 72% 50%, 69% 50%, 69% 64%, 64% 65%, 64% 71%, 60% 72%, 60% 75%, 55% 76%, 55% 89%, 60% 89%, 59% 94%, 50% 94%, 50% 86%, 45% 86%, 44% 81%, 41% 81%, 41% 85%, 37% 85%, 37% 88%, 33% 90%, 34% 93%, 37% 94%, 36% 97%, 27% 96%, 28% 81%, 23% 80%, 23% 76%, 19% 76%, 18% 72%, 14% 72%, 14% 67%, 8% 67%, 9% 62%);

}
.dinoLeft{
    clip-path: polygon(5% 62%, 4% 34%, 9% 34%, 9% 43%, 14% 43%, 14% 48%, 19% 48%, 18% 52%, 26% 52%, 26% 48%, 31% 48%, 31% 44%, 38% 44%, 38% 39%, 45% 40%, 45% 34%, 49% 35%, 49% 5%, 54% 6%, 54% 1%, 91% 1%, 91% 5%, 95% 5%, 96% 26%, 73% 26%, 73% 29%, 86% 30%, 86% 35%, 68% 35%, 68% 44%, 77% 44%, 77% 54%, 72% 54%, 72% 50%, 69% 50%, 69% 64%, 64% 65%, 64% 71%, 60% 72%, 60% 75%, 55% 76%, 55% 93%, 60% 93%, 59% 98%, 50% 98%, 50% 86%, 45% 86%, 44% 81%, 41% 81%, 41% 85%, 37% 85%, 37% 88%, 33% 90%, 34% 90%, 37% 90%, 36% 94%, 27% 94%, 28% 81%, 23% 80%, 23% 76%, 19% 76%, 18% 72%, 14% 72%, 14% 67%, 8% 67%, 9% 62%);

}
.oeil{
    width:5px;
    height:5px;
    background-color: white;
    transform: translate(60px,7px);
}

.line{
    background-color: black;
    height:2px;
    transform: translateY(247px);
}

.obstacle{
    background-color: black;
    width:30px;
    height:60px;
    position: absolute;
    clip-path: polygon(31% 100%, 29% 62%, 11% 62%, 11% 30%, 21% 30%, 25% 53%, 34% 53%, 36% 10%, 58% 9%, 60% 40%, 71% 41%, 75% 25%, 87% 25%, 86% 63%, 57% 65%, 55% 99%);
}

footer{
    height:10vh;
}